/* index.css */
.NMUITextarea {
    width: 90%;
    /*height: 200px;*/
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c8d0e7, inset -5px -5px 10px #fff;
    background-color: #E0E5EC;
    outline: none;
    transition: box-shadow 0.3s;
    text-align: left;
    vertical-align: top;
}

.NMUITextarea:focus {
    box-shadow: inset 3px 3px 6px #c8d0e7, inset -3px -3px 6px #fff;
}
